{% extends "base.html" %}

{% block content %}

<br>
<br>   
<div class="container mt-5">
    {% for result in results %}    
    <h4> Релультаты тестирования: {{ result.user_text }} дата {{ result.result_pub_date }}</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Вопрос</th>
            <th scope="col">Ваш ответ</th>
            <th scope="col">правильно / не правильно</th>
          </tr>
        </thead>
        <tbody>
                  {% for resul  in result.resultdescription_set.all %}  
                  <tr> 
                  <th> {{ resul.d_id }}             </th>
                  <th> {{ resul.question_t }}       </th>
                  <th> {{ resul.question_choice }}  </th>
                  <th> {{ resul.question_votes }}   </th>
                  </tr>
                  {% endfor %} 
        </tbody>
      </table>    
      <br><br>
      {% endfor %}
</div>
{% endblock %}