{% extends 'base.html' %}

{% block title %}Тестирование:{% endblock title %}

{% block content %}
    <div class="container mt-5">
    <h4 class="white typed">Комплекс тестовых вопросов 
                                              на соответствие квалификационным требованиям вне зависимости от области 
                                              и вида профессиональной служебной деятельности 
                                              (базовым квалификационным требованиям)</h4>

    <p>Имя: {{ user.username }} <br> Дата:</p>
    </div>

         


{% endblock content %}