{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
       
  <div class="container mt-5">
      <div class="table">
          <div class="header-text">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h1 class="light white">Управление Роспотребнадзора по Тюменской области</h1>
                      <br><br>
                      <h4 class="white typed">Комплекс тестовых вопросов 
                                              на соответствие квалификационным требованиям вне зависимости от области 
                                              и вида профессиональной служебной деятельности 
                                              (базовым квалификационным требованиям)</h4>
                    
                  </div> 
              </div>
          </div>
      </div>
  </div>

    <div class="container">
      <div class="table">
          <div class="header-text">
              <div class="row">             
                  <div class="clearfix">
                          <div class="main pd-bottom-80" style="width: 836px;">
                              <div class="mt-5 ">
                                  <h3 class="light white">Тестирование:</h3>
                                  <br>
                              </div>
                            <h3 class="page-title text-black mr-bottom-60">
                                Комплекс тестовых вопросов на соответствие базовым квалификационным требованиям</h3>
                            <hr>
                            <div class="pd-bottom-40">
                                    <p style="text-align: justify;">Время на выполнение: 00:40:00</p>
                                    <div class="post-content text-dark">
                                    <p>
                                        <ul>
                                            <li>Данный тест направлен на выявление знаний, 
                                                необходимых для поступления на государственную 
                                                гражданскую службу Российской Федерации 
                                                (далее – гражданская служба) и 
                                                замещения любой должности гражданской службы.
                                            </li>
                                        </ul>
                                    </p>
                                    <hr>
                                    <p style="text-align: justify;">
                                        В тесте затрагиваются пять областей знаний, перечисленных ниже:</p>
                                    <ul>
                                        <li>знание государственного языка Российской Федерации – русского языка;</li>
                                        <li>знание Конституции Российской Федерации и основ конституционного устройства Российской Федерации;</li>
                                        <li>знание законодательства о гражданской службе;</li>
                                        <li>знание законодательства Российской Федерации о противодействии коррупции;</li>
                                        <li>знания в области информационно-коммуникационных технологий.</li>
                                    </ul>
                                    <hr>
                                    <p style="text-align: justify;">
                                        Система он-лайн тестирования выстроена следующим образом. </p>
                                    <ul>
                                        <li>Время прохождения теста (40 вопросов) ограничено 40 минутами. </li>
                                        <li>Задача проходящего тест  – проанализировать информацию, изложенную в вопросе, 
                                            и из нескольких ответов выбрать правильный. 
                                            В каждом вопросе возможен только один правильный вариант ответа.</li>
                                        <li>Если проходящий тест заканчивает работу до истечения времени, то, при желании, он может 
                                            вернуться к предыдущим вопросам и проверить свои ответы.</li>
                                    </ul>        
                 
                                </div>
                            </div>  
                          </div> 
                        </div>                    
              </div>
              <hr>
              <a class="btn btn-primary navbar-btn pull-left"href="{% url 'testing' %}" role="button">Тестирование</a>
            </div>
      </div>
  </div>

{% endblock content %}