{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}
                    Регистрация
{% endblock title %}

{% block content %}
    <h3>Регистрация:</h3>
    <br><hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <button class="btn btn-default" type="submit">Зарегистрироваться</button>
    </form>
    
{% endblock content %}