{% extends 'base.html' %}
{% block title %}   Вход
{% endblock title %}

{% block content %}
    <h2>Вход:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Вход</button>
    </form>
{% endblock content %}